<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <div class="my-0 mr-md-auto">
      <a class="navbar-brand" routerLink="/">Playstation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li *ngIf="auth.isLoggedIn()" ngbDropdown class="dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" style="padding: 0px 5px;font-size: 20px;"></i>{{auth.username}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/admin/games">Games</a>
            <a class="dropdown-item" routerLink="/admin/categories">Categoires</a>
            <a class="dropdown-item" routerLink="/admin/users">Users</a>
            <a class="dropdown-item">Change password</a>
            <a class="dropdown-item" (click)="auth.logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </nav>