<p>
    <button class="btn btn-primary" (click)="open()">New Category</button>
</p>
<p>
    <input #query type="text" class="form-control" placeholder="Search" (keyup)="filterCategories(query.value)">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Single</th>
            <th>Multi</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of filteredCategories">
            <td>{{g.name}}</td>
            <td>{{g.singlePrice|currency:'USD':'symbol'}}</td>
            <td>{{g.multiPrice|currency:'USD':'symbol'}}</td>
            <td>
                <a href="javascript:;" (click)="open(g)"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                <a href="javascript:;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>