<div class="modal-header">
  <h4 class="modal-title">Game Form</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" #name="ngModel" name="name" [(ngModel)]="game.name" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" name="category" #category="ngModel" [(ngModel)]="game.category._id" type="text" class="form-control"
        required>
        <option value=""></option>
        <option *ngFor="let c of catogories$|async" [value]="c._id">{{c.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is Requird.</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
  </div>
</form>

<!-- 
<swal #deleteSwal title="Are you sure to delete {{ game.name }} ?" text="This cannot be undone" type="question" [showCancelButton]="true"
  [confirmButtonText]="'Confirm'" [focusCancel]="true" (confirm)="delete()">
</swal> -->